:root > * {
    --md-code-hl-function-color: #e72b2b;
    --md-code-hl-constant-color: #2B90AF;
    --md-code-hl-keyword-color: #FF860E;
    --md-code-hl-string-color: #B5F109;
    --md-code-hl-number-color: #AE81FF;
  }