*.sdf
*.suo
*.user
/Crypt/GenerateRazorChecksumH.*
/Updater/obj
/obj
/Loader/Release
/GenerateRazorChecksumH/obj
/Crypt/Debug

/Crypt/Checksum.h
/Output/Crypt.*
/Output/Loader.*
/Output/Updater.*
/Output/Razor.*
/RPVOpenStub/ifiles
/*.opensdf
/ipch
