<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Servers" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="UODataDir" value="D:\Games\UO"/>
    <add key="UOClient" value="D:\Games\UO\client.exe"/>
    <add key="LastPort" value="2593"/>
    <add key="LastProfile" value="default"/>
    <add key="LastServer" value="login.uorenaissance.com"/>
    <add key="LastServerId" value="0"/>
    <add key="ClientEncrypted" value="1"/>
    <add key="ServerEncrypted" value="0"/>
    <add key="ShowWelcome" value="1"/>
    <add key="UId" value="21613fcd"/>
    <add key="MaxOrganizerAgents" value="20"/>
    <add key="MaxBuyAgents" value="10"/>
    <add key="MaxRestockAgents" value="10"/>
    <add key="ImportProfilesAndMacros" value="true"/>
    <add key="BackupPath" value=".\Backup"/>
  </appSettings>

  <Servers>
    <add key="Custom Server" value="server.someserver.com,2593"/>
  </Servers>

</configuration>
