<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>

  <appSettings>
    <add key="DefClient" value="0"/>
    <add key="Client1" value="D:\Games\UO\client.exe"/>
    <add key="Dir1" value="D:\Games\UO"/>
    <add key="LastDir" value="0"/>
    <add key="LastPort" value="2597"/>
    <add key="LastProfile" value="test"/>
    <add key="LastServer" value="test.uorenaissance.com"/>
    <add key="PatchEncy" value="1"/>
    <add key="Port1" value="2593"/>
    <add key="Port2" value="2597"/>
    <add key="Server1" value="login.uorenaissance.com"/>
    <add key="Server2" value="test.uorenaissance.com"/>
    <add key="ServerEnc" value="0"/>
    <add key="ShowWelcome" value="1"/>
    <add key="UId" value="21613fcd"/>
  </appSettings>

</configuration>